<div class="container">
  <h1 class="baslık">Example Blog Project</h1>
  <p class="sayfa" style="font-size: 16px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores consequuntur debitis eum ex id, incidunt natus quidem quisquam voluptatibus! Amet aperiam architecto beatae hic neque odio. At delectus dolore esse eum incidunt itaque obcaecati pariatur quas ratione repellendus velit, veniam. Accusantium aspernatur assumenda at aut delectus eligendi id illo ipsa, laborum natus neque nisi pariatur perspiciatis possimus quas  recusandae!</p>

  <app-card></app-card>

</div>
